body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(209, 209, 209);
}

ul {
  list-style-type: none;
  margin-top: 5%;
}

.navbar {
  background-color: #677786;
  /* Color de fondo de la barra de navegación */
  margin-bottom: 1px;
}

img {
  margin-left: 3%;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
}


.navbar a:hover {
  font-weight: bold;
  border-bottom: 2px solid white;
  border-radius: 2%;
}

.textoBlanco {
  color: white;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.tituloElRastro{
      font-family: 'Tahoma', sans-serif;
      font-weight: 600;
      font-size: 3rem;
      color: #212529;
      margin-bottom: 1rem;
      text-align: center;
}

.tipoLetraEphesis{
      font-family: 'Ephesis', cursive;
      font-weight: 700;
      font-size: 3rem;
      color: #212529;
      margin-bottom: 1rem;

}

.tipoLetraTrebuchet{
  font-family: 'Trebuchet', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #212529;
  margin-bottom: 1rem;
}


.tipoLetraMonse{
     font-family: 'Montserrat Alternates', sans-serif;
      color: #212529;

}

.tipoLetraPrecios{
  font-family: 'Raleway', sans-serif;

}

.carrousel{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.centrarh1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.distancia{
  margin-left: 2.5%;
  margin-top: 2.5%;
}

.cartaProductos{
  transform: scale(1);
  transition: 0.5s  ease-in-out;
  margin-left: 0;
  margin-bottom: 0;

}

.cartaProductos:hover{
  transform: scale(1.1);
  margin-left: 1%;
  margin-bottom: 1%;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.centrarConMargenes{
  margin-left: auto;
  margin-right: auto;
}

.tarjetaProducto{
  border: 1px solid #eceff1;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.fotoProfile{
  border-radius: 50%;
  width: 10vw;
  height : 10vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.containerFoto{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.fotoProducto{
  width: 80%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.mapa{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 5%;
}

.imagenesLateral {
  overflow-x: hidden;
  height: 30%;
  width: 40%;
  border-radius: 1rem;
  margin-top: 5%;
}

.imagenesLateral:hover{
  transform: scale(1.1);
  margin-left: 1%;
  margin-bottom: 1%;
}

.imagenProducto{
  width: 360px;
  height: 480px;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.imagenCentralGrande {
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.imagenC{
  width: 100%;
  height: 100%;
  margin-left: auto;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.valoracion-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn { 
  border-radius: 100rem;
  padding: 12px 16px;
  background: linear-gradient(170deg, #61DBFB, #2e849b) !important;
  width: 10rem;
  border: none;
  color: white;
  font-weight: 600;
  margin: 1rem 0;
  cursor: pointer;
}