.Subir{
    margin-left: 2%;
    margin-top: 2%;
}

input{
    margin-left: 2%;
    margin-top: 2%;
    width: 40% !important;
}

input#desc{
    height: 200px !important;
    margin-left: 10%;
}

input#chico{
    width: 20% !important;
}

label#subir{
    margin-left: 2%;
    margin-top: 2%;
    width: 40%;
}

.SelectCategoria{
    margin-left: 2%;
    margin-top: 2%;
    width: 40%;
}